.contato {
    display: flex;
    gap: 2rem;
}

img {
    width: 50%;
    border-radius: 10px;
}

p::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 179, 179);
    margin-right: .5rem;
}